    <div id = 'login-modal' class = 'modal'>
        <div class = 'modal-content'>
            <div class = 'modal-header'>
            <span class = 'close'>&times;</span>
                <h2>Login</h2>
            </div>
            <form>
            <div class = 'modal-body'>
                <label for = 'username'>Username</label><br>
                    <input type = 'text' placeholder = 'Enter Username' name = 'username' class = 'register-input'required><br>
                <label for = 'pwrd'>Password</label><br>
                    <input type = 'password' placeholder = 'Enter Password' name = 'pwrd' class = 'register-input' id = 'password'required><br>
                <button type = 'submit' class = 'register-button'>Log In</button><br>
                <a href = '#' class = 'forgot-link'>Forgot Password?</a>
            </div>
            </form>
        </div>
    </div>