    <header>
        <div class = 'navbar-top'>
            <a href = '#' class = 'log-in-link'>Log In</a>
        </div>

        <div class = 'title-box'>
            <h1 class = 'title-text'>Welcome to DevDen.</h1>
            <h2 class = 'sub-text'>Collaboration made simple.</h2>
        </div>
    </header>

    <div class = 'landing-body'>
        <h2 class = 'pull-text'>Sometimes it can be a challenge to find collaborators for a project. DevDen is here to help.</h2>

        <button type = 'button' class = 'project-view-button'>View Public Projects</button>
        <button type = 'button' class = 'signup-button'>Sign Up</button>
    </div>
