<body class="centered-form">
    <div class="centered_form">
        <form action="/messages">
            <div class="form-field">
                <h5>Join a Discussion</h3>
            </div>
            <div class="form-field">
                <label>
                     User Name
                </label>
                <input type="text"  name="name" autofocus/>
            </div>
            <div class="form-field">
                <label>Room Name</label>
                <input type="text" name="room">
            </div>
            <div class="form-field">
                <button type="submit" class="btn btn-primary">Chat</button>
            </div>
        </form>
    </div>




</body>