
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Your Projects</a>
        <a href="#">Project Hub</a>
        <a href="#">Message Board</a>
        <a href="#" class="button">Sign Out</a>
    </div>
    <span style="font-size:18px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <img class="img-circle img-responsive" alt="" src="http://placehold.it/280x280">
                    <h1>{{user}}</h1>
                </div>

                <div class="col-xs-12 col-8">
                    <ul class="list-group">
                        <li class="list-group-item">John Doe</li>
                        <li class="list-group-item">Software Engineer</li>
                        {{!--
                        <li class="list-group-item work place">Google Inc. </li> --}}
                        <li class="list-group-item ">
                            <i class="fa fa-phone"></i> 000-000-0000 </li>
                        <li class="list-group-item">
                            <i class="fa fa-envelope "></i> john@example.com</li>
                    </ul>
                </div>
            </div>
            <br>
        </div>
        <div class="card">
            <div class="card-header">
                Projects </div>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1531756346973-7b893b8dbbdd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=60419688d82335a64ec3f0f583ea13ab&auto=format&fit=crop&w=1350&q=80"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Project Title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This
                            content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1517420879524-86d64ac2f339?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca1910047dae3b41bdaa4129d004343a&auto=format&fit=crop&w=1226&q=80"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Project Title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1525459715390-11a3e77bc887?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae5eda83eaa3439fc3483708bc8bf3bd&auto=format&fit=crop&w=750&q=80"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Project Title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                            card has even longer content than the first to show that equal height action.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                Language and Platform Skills
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar bg-warning" style="width:45%">PHP/Lamp Stack 45%</div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar bg-success" style="width:80%">React with Redux 80%</div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar bg-danger " style="width:20%">Angular 20%</div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar bg-info " style="width:65%">Ruby on Rails 65%</div>
                    </div>
                </div>
                <br>
                {{!-- <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <p class="beginner">Beginner</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="intermediate">I know little</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="good">I'm Good</p>
                        </div>
                        <div class="col-xs-3">
                        <p class="guru">I'm a guru</p>
                    </div>
                    </div>
                    
                </div> --}}


            </div>

        </div>
    </div>








<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "#D7D6EB";
    }
</script>

