<div class = "create-box">
    <h1 class = "create-project-title">Create a Project</h1>

    <form class = "project-form">
        <label for = "project-name" class = "proj-label">Project Name</label><br>
        <input type = "text" name = "project-name" placeholder = "Your Project Name" id = "project-name" class = "create-input"required><br>
        <label for = "project-desc" class = "proj-label">Project Description</label><br>
        <textarea rows = "6" cols = "50" name = "project-desc" label = "project-desc" placeholder = "A description of your project" class = "create-input" id = "project-desc" maxlength = "255"required></textarea><br>
        <label for = "project-img-link" class = "proj-label">Project Image</label><br>
        <input type = "text" name = "project-img-link" placeholder = "Link to an image" id = "project-img-link" class = "create-input"required><br>
        <p class = 'collab-notice'>You'll be able to add collaborators later.</p>
        <button type = 'submit' id = 'create-submit'>Create</button>
    </form>
</div>