    <header class="container-fluid">
        <div class="row">
          <div class = 'col-md-12 navbar-top' id="public-project-navbar-top">
              <a href = '#' class = 'log-in-link'>Log In</a>
          </div>
        </div>
    </header>

    <div class="public-projects-body container-fluid">
      <div class="row">
        {{#each project}}
        <div class="col-md-5 ml-auto mr-auto mt-5 project">
          <div class="row">
            <div class="col-md-8 project-img">
              <img class="img-fluid" src="{{image}}" alt="">
            </div>
            <div class="col-md-4 project-details">
              {{> projects/project-info-block}}
            </div>
          </div>
        </div>
        {{!-- {{#if id}}
        <div class="col-md-2"></div>
        {{/if}} --}}
        {{/each}}
    </div>
  </div>

  <footer class="container-fluid mt-5"></footer>