    <!--Side Nav Bar-->

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/user/1">Profile</a>
    <a href="/project/1">Your Projects</a>
    <a href="/projects">Project Hub</a>
    <a href="/messages">Message Board</a>
    <a href = "#" class = 'log-in-link'>Log In</a>
</div>
<span style="font-size:18px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    

<div id="main">
    <div class="public-projects-body container-fluid">
      <div class="row">
        {{#each project}}
          {{#each ownerId}}
            <div class="col-md-5 ml-auto mr-auto mt-5 project">
              <div class="row">
                <div class="col-md-8 project-img">
                  <img class="img-fluid" src="{{image}}" alt="">
                </div>
                <div class="col-md-4 project-details">
                  {{> projects/project-info-block}}
                </div>
              </div>
            </div>
          {{/each}}
        {{/each}}
    </div>
  </div>
  </div>

  <footer class="container-fluid mt-5"></footer>

  <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "#D7D6EB";
    }
</script>