<div class="col-sm-3 text-center">
  <img class="img-circle img-responsive mb-3 ml-0" alt="" style="height: 120px; width: 120px" src="{{dataValues.User.dataValues.image}}">
  <a class="inherit-color" href="/user/{{dataValues.User.dataValues.id}}">
    <h6 class="mx-0 mb-0">{{dataValues.User.dataValues.userName}}</h6>
  </a>
</div>