  <div class="card">
<div class="card">
  <img class="card-img-top" src="{{dataValues.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{projectName}}</h5>
    <p class="card-text">{{projectDescription}}</p>
  </div>
</div>
</div>