<h3 id="center" class="text-center"><a href="/project/{{id}}">{{projectName}}</a></h2>
<p id="center" class="text-center">{{createdAt}}</p>
{{!-- <p class="text-center">{{projectDescription}}</p> --}}
