/* COLORS
    #7C7CF8 dark blue (navbar, primary elements)
    #9497F0 intermediate blue (secondary elements such as buttons, jumbotrons, project cards)
    #D7D6EB light blue (backgrounds)
*/

@keyframes fadeIn {
  0% {
      opacity: 0;

  }
  100% {
      opacity: 1;

  }
}

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background-color: #D7D6EB;
}

.index-head {
  height: 55vh;
  background-color: #9497F0;
  position: relative;
  background-size: cover;
  background-position: top;
  box-shadow: 0px 4px 6px rgba(0,0,0,.16);
}

.navbar-top {
  width: 100%;
  background-color: #7C7CF8;
  height: 10%;
  position: relative;
}

.log-in-link {
  text-decoration: none;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 450;
  font-size: 1.3rem;
  position: absolute;
  right: 20px;
  bottom: 5px;
  text-shadow: 0px 1px 6px rgba(0,0,0,.16);
}

.title-box {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

}

.title-text {
  font-size: 4.5rem;
  color: white;
  text-shadow: 0px 4px 5px rgba(0,0,0,.16);
  margin-bottom: -30px;
  animation: fadeIn 3s ease-out .75s;
  animation-fill-mode: backwards;
}

.sub-text {
  font-size: 2.5rem;
  color: white;
  text-shadow: 0px 2px 8px rgba(0,0,0,.16);
  animation: moveInLeft 1.5s ease-in-out;
}

h1, h2 {
  text-align: center;
}

.pull-text {
  margin-top: 25px;
  text-shadow: 0px 4px 6px rgba(0,0,0,.16);
}

.landing-body {
  text-align: center;
}

button {
  font-family: 'Helvetica Neue', sans-serif;
  border-radius: 0px;
  border: none;
  background-color: #9497F0;
  color: white;
  box-shadow: 0px 8px 6px rgba(0,0,0,.16);
  cursor: pointer;
  -webkit-appearance: none;
}

.project-view-button {
  width: 342px;
  height: 105px;
  margin-top: 55px;
  margin-right: 55px;
  font-size: 1.6875rem;
  animation: moveInBottom .5s ease-in-out 1s;
  animation-fill-mode: backwards;
}

.signup-button {
  width: 342px;
  height: 105px;
  margin-top: 55px;
  font-size: 1.6875rem;
  animation: moveInBottom .5s ease-in-out 1s;
  animation-fill-mode: backwards;
}

.project-view-button:focus,
.signup-button:focus,
.register-button:focus {
  outline: 0;
}

.project-view-button:hover,
.signup-button:hover,
.register-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 6px rgba(0,0,0,.25);
}

.project-view-button:active,
.signup-button:active,
.register-button:active {
  transform: translateY(-1px);
  box-shadow: 0px 8px 6px rgba(0,0,0,.19);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.14);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.close {
  color: black;
  font-size: 28px;
  font-weight: bold;
  float: right;
}

.close:hover,
.close:focus {
  color: #7C7CF8;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #9497F0;
  color: white;
}

.modal-body {
  padding: 25px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animateTop;
  animation-duration: 0.4s;
  text-align: center;
}

@keyframes animateTop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

label {
  font-size: 1.25rem;
  font-weight: 450;
}

.register-input {
  height: 30px;
  font-size: 1.25rem;
  width: 90%;
  margin-bottom: 30px;
  padding: 10px;
}

.register-button {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 45px;
  width: 200px;
  font-size: 1.25rem;
}

.forgot-link {
  text-decoration: none;
}
/* Profile css ===============================================================================================*/
/* navbar */  

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #9497F0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
img {
  border-radius: 50%;
}

.card-header{
  text-align: center;
  font-size: 24px;
  background-color: #9497F0!important;
}

.list-group{
  border-left-style: solid;
    border-width: 7px;
    border-radius: 13px;
    border-color: #818181;
}
.card-img-top{
  border-radius:0%!important;
}
.guru{
  float: right!important;
}